.slider {
    width: 100%;
    height: 90vh;
    position: relative;
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transform: translateY(5%);
    transition: all .2s ease;
}

.current {
    opacity: 1;
    transform: translateX(0);
}

.image {
    margin-left: 10rem;
    margin-right: auto;
    width: 80%;
    margin-top: 6rem;
    height: 39.4rem;
}

/* iPhone SE */
@media screen and (max-width:566px) {
    .image {
        margin-left: 3.5rem !important;
        width: 6rem;
        height: 2rem;
    }
}

