.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 5rem 10rem;
}

.container:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(245, 245, 220, .5);
    border-radius: 5rem;
    filter: blur(.5rem);
    
    z-index: -1;
}

.content-box {
    max-width: 15rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.rigt {
    padding: 5rem 10rem;

}

.field {
    outline: none;
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: rgba(230, 230, 230, .6);
    margin-bottom: 2rem;
    transition: .3s;
    border: none;
    border-bottom: solid 1px black;
}

.field :hover {
background-color: rgba(0, 0, 0, 0.2);
}

.field :focus {
    background-color: red;
    border: 0.7rem solid rgba(30, 85, blue, .5)
}

.area {
    min-height: 15rem;
}

.formBtn {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    border: none;
    outline: none;
    transition: .5s;
    padding: .5rem;
    color: aliceblue;
    font-weight: bold;
    font-size: 2rem;
    border-radius: .5rem;
}

.formBtn:hover {
    background-color: aqua;
}

/* iPhone SE */
@media screen and (max-width: 566px) {
    .contact-box{
        max-width: 20em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}